<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Vue basics</title>
</head>

<body>
    <h1>Vue Basic</h1>
    <div id="app">
        <ul :style="{ 'list-style-type': 'none' }">
            <li v-for="(name, index) in names" :key="index">
                {{ name }} : {{ index }}
            </li>
        </ul>
        <ol>
       <li v-for="(car, index) in cars">
        {{ car.brand }} : {{ index }}
       </li>
    </ol>
       <hr>
       <ul>
        <li v-for="(key, value, index) in user">
            {{ index }} : {{ key }} :{{ value }}
        </li>
       </ul>
    </div>
</body>
<script>
    const { createApp, ref } = Vue;

    createApp({
        setup() {
            const names = ref(['Umar', 'Ali', 'Awais', 'Tariq']);
            const cars = ref([
                {brand: 'Toyota', model: 'Corolla', year: 2020},
                {brand: 'Honda', model: 'Civic', year: 2021},
                {brand: 'Ford', model: 'Mustang', year: 2022},
            ]);

            const user = ref({
                name: 'Umar',
                lastName: 'farooq',
                age: 18,

            });
          
            return { names, cars, user };
        }


    }).mount('#app');
</script>

</html>